.todoItems {
  display:flex;
  justify-content: space-between;
  padding: 8px;
  margin: 5px 0;
  background: #d1d1d1;
  align-items: center
}

.removeButton {
  background:rgb(48, 2, 2);
  border: 0;
  padding: 5px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white
}

.removeButton:hover {
 color: red
}
